body {
    margin: 0;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    background: url("../../MainResources/gamesBG.jpg");
    background-size: 100%;
}
/* MAIN WINDOW */
.window {
  position: relative;
    width: 67%;
    height: 90vh;
    margin: 20px auto;
    background: rgba(1, 1, 1, 0.6);
    border: 2px solid #000;
}

/* CONTENT */
.content {
    display: flex;
    height: calc(100% - 40px);
}

/* LEFT PANEL */
.left-panel {
    width: 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;  
    justify-content: flex-end; 
    height: 100%;
     padding-top: 0px; 
}
/* RIGHT PANEL */
.right-panel {
    position: absolute;
    right: 0px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* BACK BUTTON */
.back-btn {
    position: absolute;
    display: flex;
    padding: 6px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background: rgba(76, 76, 76, 0.8);
    border: 2px solid #000;
    box-shadow: inset -2px -2px rgba(32, 32, 32, 0.8),
                inset 2px 2px rgba(222, 222, 222, 0.8);;
    text-align: center;
    width: 10%;
    height: 2%;
    left: 9px; 
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px)
}

.back-btn:active {
    background: rgba(76, 76, 76, 0.8);
    box-shadow: inset -2px -2px rgba(222, 222, 222, 0.8),
                inset 2px 2px rgba(32, 32, 32, 0.8);;
}

/* LINKS GRID */
.links-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 10%;
}

/* LINK BOXES */
.link-box {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    background: rgba(76, 76, 76, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.link-box img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
/* RIGHT BUTTONS */
.win-btn {
    display: block;
    padding: 6px;
    text-decoration: none;
    color:white;
    background: rgba(76, 76, 76, 0.8);
    border: 2px solid #000;
    box-shadow: inset -2px -2px rgba(32, 32, 32, 0.8),
                inset 2px 2px rgba(222, 222, 222, 0.8);;
    text-align: center;
}

.win-btn:active {
    box-shadow: inset -2px -2px rgba(222, 222, 222, 0.8),
                inset 2px 2px rgba(32, 32, 32, 0.8);;
}

.title-bar {
    height: 24px;
    background: rgba(1, 1, 155, 0.3);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    border-bottom: 2px solid #000;
}

.title-text {
    font-weight: bold;
    padding-left: 6px;
    user-select: none;
}

.title-buttons {
    display: flex;
    gap: 2px;
}

.win98-btn {
    width: 25px;
    height: 24px;
    background: #c0c0c0;
    border: 1px solid black;
    box-shadow:
        inset -1px -1px 0 #808080,
        inset 1px 1px 0 #ffffff;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    
}

.win98-btn:active {
    box-shadow:
        inset 2px 2px 0 #808080,
        inset -2px -2px 0 #ffffff;
        font-weight: bold;
}

.win98-btn.close {
    font-weight: bold;
}

.info-box {
    position: absolute;
    width: 430px;
    height: 60px;
    border: 2px solid black;
    background: rgba(76, 76, 76, 0.8);
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    justify-content: center;
    color:white;
}

  .new-box {
      position:absolute;
      border: 2px solid black;
      width: 200px;
      height: 100px;
      background: rgba(76, 76, 76, 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      top: 230px;
      right: 10px;
      color:white;
  }


    
    
    
    
    
    
