body {
    margin: 0;
    font-family: "MS Sans Serif", serif;
    color: #66ff66;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url("../../MainResources/main_bg.gif") repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    text-align: left;
    left:10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 7px 0px;
    margin: 10;
    background: linear-gradient(to right, #000080, #0000CD, #1E90FF);
}

.header p{
  margin:0;
  padding-left: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

.photo-box {
    display: flex;
    flex-direction: column;
    gap:1px;
    justify-content: center; 
    align-items: center;    

    position: relative;
    background: #000011;
    border: 3px solid #66ff66;
    padding: 5px;
    width: 250px;
    height: 180px;
    text-align: center;
    box-shadow: 0 0 5px #66ff66;
    transition: transform 0.2s, box-shadow 0.2s;
}

.photo-box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #66ff66;
}

.photo-box img {
    width: 100%;
    height:85%;
    display: block;
    border: 2px solid #66ff66;
}

.photo-date {
    margin-top: 5px;
    font-size: 14px;
    color: #66ff66;
    font-weight: bold;
}

#photoPopup {
    display:none;
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: #000011;
    border: 3px solid #66ff66;
    padding: 10px;
    z-index: 10000;
    text-align: center;
    box-shadow: 0 0 30px #66ff66;
    max-height:90%;
}

#photoPopup img {
    margin-top: 15px;
    padding-top: 15px;
    width: 99%;
    height: 60%;
    max-height:850px;
    max-width: 500px;
}

#photoPopup .popupDate {
    margin-top: 5px;
    color: #66ff66;
    font-weight: bold;
}

#photoPopup .closeBtn {
  color:black;
    position: absolute;
    top: 5px;
    right: 5px;
    background: #c0c0c0;
    border: 1px solid black;
    box-shadow:
        inset -1px -1px 0 #808080,
        inset 1px 1px 0 #ffffff;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    width:22px;
    height:22px;
}

#photoPopup .closeBtn:active {
    box-shadow:
        inset 2px 2px 0 #808080,
        inset -2px -2px 0 #ffffff;
        font-weight: bold;
}

.win98-btn {
    width: 25px;
    height: 24px;
    background: #c0c0c0;
    border: 1px solid black;
    box-shadow:
        inset -1px -1px 0 #808080,
        inset 1px 1px 0 #ffffff;
    font-family: "MS Sans Serif", Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
}

.win98-btn:active {
    box-shadow:
        inset 2px 2px 0 #808080,
        inset -2px -2px 0 #ffffff;
        font-weight: bold;
}

#close{
  position:absolute;
  top:6px;
  right:10px;
}
#min{
  position:absolute;
  top:6px;
  right:66px;
}
#max{
  position:absolute;
  top:6px;
  right:38px;
}

#popupHeader {
   position:absolute;
    top:0;
    left:0;
    width:100%;
    height:20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 7px 0px;
    margin: 10;
    background: linear-gradient(to right, #000080, #0000CD, #1E90FF);
}

#popupHeader p{
  margin:0;
  padding-left: 10px;
}


