/* ===== Базовая тёмная тема ===== */
html, body {
    height: 100%; 
    margin: 0;
    font-family: Tahoma, Arial, sans-serif;
}

body {
    display: flex;
    background: #1a1a1a;
    color: #eee; 
    overflow: hidden;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 220px;
    height: 100%; 
    display: flex;
    flex-direction: column; 
    background: #2a2a2a;
    border-right: 2px solid #555;
    box-sizing: border-box;
}

/* ===== КНОПКА НАЗАД ===== */
#backBtn {
    width: 150px;
    height: 50px;
    margin: 10px auto 20px auto; 
    background: #2a2a2a;
    color: #fff;
    border: 2px outset #555;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 0 #000, -1px -1px 0 #555;
    z-index: 100;
}

/* ===== НАВИГАЦИЯ ===== */
nav {
    flex: 1; 
    overflow-y: auto; 
    padding: 10px;
    box-sizing: border-box;
}

nav h3 {
    margin: 10px 0 5px 0;
    cursor: pointer;
    font-size: 18px; 
    background: #3a3a3a;
    padding: 4px 8px; 
    border: 2px outset #555;
    text-align: center;
}

nav h3.active {
    background: #000080;
    color: #fff;
    border: 2px inset #555;
}

nav small {
    font-size: 12px; 
    margin-bottom: 12px;
    color: #aaa;
    display: block;
    text-align: center;
}

/* ===== HEADER ===== */
.header {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    padding: 5px 0px;
    margin: 0 0 20px 0; 
    background: linear-gradient(to right, #010081 , #02b8b8);
    font-family: Tahoma, Arial, sans-serif;
    width: 100%; 
}

/* ===== КОНТЕНТ ===== */
main {
    flex: 1; 
    padding: 20px;
    overflow-y: auto; 
    background: #1a1a1a;
    border-left: 2px solid #555;
    border-right: 2px solid #555; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ===== БЛОГИ ===== */

.blog-post {
    display: none;
    background: #2a2a2a;
    padding: 20px;
    border: 2px solid #555;
    margin-bottom: 20px;
    max-width: 800px; 
    width: 100%;
    box-sizing: border-box;
}

.blog-post.active {
    display: block;
}

.blog-post h1, .blog-post h2, .blog-post h3 {
    color: #ffffff;
}

.blog-post p, .blog-post li, .blog-post blockquote, .blog-post pre {
    color: #ddd;
}

img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
}

a {
    color: #6A5ACD;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
